.main{
  background: #BFFE71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56B4D3, #BFFE71);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56B4D3, #BFFE71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
}

.logo {
  position: relative;
  width: 50px;
  height: auto;
}

.c_nav_link{
  text-align: right;
}
.c_nav_link:hover{
  font-weight: 600;
  color:#56B4D3;
}

.expand{
  width: 100%;
}

.c_login{
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 50%;
  padding: 3%;
  
}