.main{
  background: #BFFE71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56B4D3, #BFFE71);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56B4D3, #BFFE71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 110vh;
}

.logo {
  position: relative;
  width: 50px;
  height: auto;
}

.c_nav_link{
  text-align: right;
}
.c_nav_link:hover, .active:hover, .active{
  font-weight: 600;
  color:#fff;
  background-color: #8dda2ea8;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
  margin: 2px;
}
.active{
  background-color: #56B4D3 !important;
}
.c_link, .c_link>a, .c_link:before{
  color: #fff !important;
}
.c_link>a, .ct_link:hover{
  text-decoration: none;
  font-weight: 600;
}
.c_link>a:hover{
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ct_link, .cp_link, .cp_link__active{
  color: unset;
}
.cp_link:hover, .cp_link__active:hover, .cp_link__active{
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.expand{
  width: 100%;
}

.c_login{
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 50%;
  padding: 3%;
}

.c_div, .c_div__color{
  border-radius: 10px;
  width: 90%;
  height: max-content;
  
  margin: 20px auto;
  padding: 10px;
}

.c_div__color{
  background-color: #fff;
}

.c_table__responsive{
  overflow: auto;
}